.sb-language__toggle {
    align-self: flex-end;
    margin-top: 40px;
    margin-right: 70px;
    width: 57px;
    height: 56.15px;

    background: #FFFFFF;
    border-radius: 20px;
    border-color: #FFFFFF;

    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.sb-language__toggle:hover {
    background-color: #fff;
}