.sb-form {
    margin-top: 168px;
    width: 553px;
    user-select: none;
}

.sb-form__container {
    height: 282.41px;
    
    background: rgba(85, 183, 181, 0.8);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: Roboto;
    line-height: 23px;
}

.sb-form__inner {
    width: 473px;
    margin: 0 auto;
}
  
/* .form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
} */

.sb-form__submitContainer {
    display: flex;
    justify-content: space-between;
}

.sb-form__submit {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 100px;

    background-color: transparent;
    color: #000;

    height: 50px;
    width: 230px;
    margin-top: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sb-form__submit:hover {
    background-color: transparent;
}

.sb-form__submit-text {
    font-size: 23px !important;
}

/******************** OAUTH *****************/
.sb-oauth {
    padding-top: 35px;
    display: flex;
    justify-content: space-around;
}

.sb-oauth__icon {
    background-color: #fff;
    width: 47px;
    height: 47px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sb-oauth__icon:nth-child(2n) > img {
    width: 35px;
    height: 35px;
}

.sb-oauth__icon:hover {
    background-color: #fff;
}